@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.queryListItem {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 11px;
  background: white;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 11px;
  text-decoration: none;
}

.queryListItem p {
  margin: 0;
}

.date {
  color: white;
  background: #ee5833;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
}

.query {
  padding-top: 7px;
  margin-bottom: 7px !important;
  padding-left: 11px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.queryType {
  color: grey;
  padding-left: 11px;
  font-size: 14px;
}

.by {
  /* padding-top: 4px; */
  color: #555555;
  padding-left: 11px;
  font-size: 14px;
  padding-bottom: 7px;
}

.menu {
  position: absolute !important;
  top: 0px !important;
  left: calc(100% - 48px) !important;
  background: transparent !important;
  border-radius: 50% !important;
}

.bottom {
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.bottomLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.solutions {
  color: #3f51b5;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 550px) {
  .solutions:hover {
    text-decoration: underline;
  }
}
