@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

.home {
  min-height: 100vh;
}

.image_and_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.title {
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  color: white;
}

.top_text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1000px;
  padding: 4px;
  font-family: "Ubuntu", sans-serif;
  color: #222222;
  letter-spacing: 1px;
}

.button {
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid white;
  border-radius: 21px;
  padding: 7px;
  padding-right: 17px;
  padding-left: 11px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  margin-bottom: 44px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 571ms;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw / 3);
  padding: 7px;
}

.count {
  margin-bottom: 0;
  margin-top: 7px;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 2px black;
}

.text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  margin-top: 7px;
  margin-bottom: 7px;
  color: grey;
}

@media only screen and (min-width: 550px) {
  .button:hover {
    animation: buttonAnimation 1515ms infinite;
  }
}
@media only screen and (max-width: 550px) {
  .image_and_title {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding-top: 51px;
    padding-bottom: 51px;
  }
}
@media only screen and (max-width: 300px) {
  .image_and_title {
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }
}

@keyframes buttonAnimation {
  0%,
  100% {
    color: black;
    background: white;
    border-color: black;
    transform: scale(1.04);
  }
  50% {
    color: white;
    background: black;
    border-color: white;
    transform: scale(1);
  }
}
