@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.nav {
  display: flex;
  justify-content: space-between;
  /* background: rgb(36, 29, 29); */
  background: #1a2226;
  color: #fff;
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  transition: all 11s ease-in-out !important;
  overflow: hidden;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 571ms linear !important;
  z-index: 11;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.ul {
  display: flex;
}

.li {
  list-style: none;
  padding: 10px 20px;
  width: 100%;
  display: flex;
}

.a {
  padding: 8px 20px;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  border-radius: 7px;
  background: linear-gradient(currentColor 0 0) var(--p, 100%) 0,
    linear-gradient(currentColor 0 0) 0 var(--d, 0),
    linear-gradient(currentColor 0 0) var(--d, 0) 100%,
    linear-gradient(currentColor 0 0) 100% var(--p, 100%);
  background-size: var(--d, 0) 2px, 2px var(--d, 0);
  background-repeat: no-repeat;
  transition: 0.5s, background-position 0s 0.5s;
}

.aActive {
  padding: 8px 20px;
  font-size: 1.2rem;
  flex: 1;
  text-align: center;
  border-radius: 7px;
  border: 2px solid white;
}

.links {
  min-width: 560px;
  transition: 444ms;
}

.cont {
  display: grid;
  place-items: center;
}

.search {
  display: flex;
  width: 150px;
  justify-content: flex-end;
  align-items: center;
}

.searchbox {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.searchbox:hover > .searchtext,
.searchbox:focus > .searchtext,
.searchtext:focus {
  width: 200px;
  padding: 0 6px;
  padding-left: 15px;
}

.searchbox:hover > .searchbtn {
  color: #fff;
  background: #2f3640;
}

.searchbtn {
  color: #e84118 !important;
  float: right !important;
  width: 40px !important;
  height: 40px !important;
  padding: 7px !important;
  border-radius: 50% !important;
  background: #ffffff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: 0.5s !important;
  cursor: pointer !important;
}

.searchtext {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  line-height: 40px;
  width: 0px;
}

.hamburger {
  display: none !important;
  position: absolute !important;
  right: 7px !important;
  top: 12.5px !important;
  font-size: 2.2rem !important;
  transition: 571ms linear !important;
}

@media only screen and (min-width: 1020px) {
  .a:hover {
    --d: 100%;
    --p: 0%;
  }
}

@media only screen and (max-width: 1020px) {
  .hamburger {
    display: block !important;
  }
  .nav {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  .ul {
    padding: 0px;
    align-items: center;
    justify-content: center;
  }
  .search {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .searchtext {
    width: 240px;
    padding: 11px !important;
  }
  .logo {
    padding-left: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    background: none;
  }
  .links .search {
    display: block;
  }
}

@media only screen and (max-width: 579px) {
  .logo {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 3px 33px;
    border-radius: 3px;
  }
  .links {
    min-width: 100%;
  }
  .ul {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .search {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    width: 100%;
  }
  .searchtext {
    width: 200px;
  }
}
