.login {
  min-height: 100vh;
  background: whitesmoke;
  display: grid;
  place-items: center;
}

.form {
  margin: auto;
  width: 60vw;
  height: 60vh;
  background: white;
  box-shadow: 0px 0 7px 0.001px lightgrey;
  border: 1px solid lightgray;
  border-radius: 11px;
  display: flex;

  position: relative;
  flex: 0.5;
  background: white;
  overflow: hidden;
}
.form img {
  left: -444px;
  top: -211px;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 550px) {
  .form {
    height: 100%;
    width: 100%;
  }
}
.inputField {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #b3edff;
  display: inline-block;
}
.submitButton {
  background-color: #b3edff; /* Green */
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  border: 2px solid #b3edff;
}
.submitButton:hover {
  background-color: #b3edff;
  color: white;
}
