@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.blog {
  padding-top: 21px;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  position: relative;
}

.image {
  max-height: 60vh;
  width: 80%;
  object-fit: contain;
  margin: 3vh auto;
  /* transition: 251ms; */
}

.topText {
  font-size: 12px;
  text-align: center;
  margin: 1vh 2vh;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  margin: 1vh 2vh;
  font-weight: 700;
  font-size: larger;
  font-family: Roboto, Arial, sans-serif;
  color: #272930;
  text-align: center;
}

.author {
  text-align: center;
  margin: 1vh 2vh;
  color: #e84118;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
}

.blogText {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #444444;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons {
  margin-top: 21px;
  margin-bottom: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  font-size: 12px;
  font-family: "open sans", Arial, sans-serif;
  text-align: center;
  background: white;
  border: 1px solid lightgrey !important;
  color: #707885;
  border-radius: 21px;
  outline: none;
  padding: 7px;
  padding-left: 11px;
  padding-right: 11px;
  cursor: pointer;
}

.menu {
  position: absolute !important;
  top: 21px !important;
  left: calc(100% - 48px) !important;
  background: transparent !important;
  border-radius: 50% !important;
}

@media screen and (max-width: 775px) {
  .blog {
    width: 100%;
  }
}
