@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.comment {
  border: 1px solid lightgrey;
  border-radius: 7px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  padding: 7px;
}

.by {
  font-size: 700;
  font-size: 13px;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: #e84118;
  /* padding-bottom: 4px; */
}

.commentText {
  margin: 0;
  margin-bottom: 2px;
  color: #444444;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.timestamp {
  margin: 0;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: grey;
  padding-top: 4px !important;
}
