::-webkit-scrollbar {
  display: none;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.progress-div {
  display: grid;
  place-items: center;
}

.alternate-text {
  color: black;
  background: whitesmoke;
  border-radius: 111px;
  align-self: center;
  padding: 2px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.alternate-link {
  color: #005975;
  font-weight: 600;
}

.fab {
  position: fixed !important;
  top: calc(100vh - 100px);
  left: calc(100vw - 80px);
  margin-bottom: 21px !important;
  height: fit-content;
  width: fit-content;
  background: tomato;
  border: 1px solid grey;
  border-radius: 50%;
  z-index: 1;
}
